div {
  height: 300vh;
  display: flex;
  justify-content: center;
}

div h1 {
  padding-top: 90vh;
}

p {
  margin-top: 120vh;
  display: flex;
  align-items: end;
  width: 175px;
  border: 2px solid black;
  padding: 1rem;
  position: relative;
}

